@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
header{
  text-align: center;
  padding:0%;
  margin:0%;
}
*{
  font-family:'Jacques Francois', sans-serif;  
}

body {
    font-family:'Jacques Francois', sans-serif;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    background-color: #c0c2bd;
}
h1, h2{
  background-color: beige;
  padding:0%;
  margin:0px;
}
div, li {
  display: inline-flex;
  width:10%;
}



#menu_box {
    width: 100%;
    background-color: black;
    padding: 0;
}

#menu_box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

#menu_box li {
    flex-grow: 1;
    text-align: center; /* This centers the text within each list item */
    margin-left: 5%;
}

#menu_box a {
    display: block;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#menu_box li:hover {
    background-color: #333;
}

#menu_box li:hover a {
    color: lightblue;
}

button{
    margin-right: 1%;
    color: whitesmoke;
    padding: 5px 10px;
    background-color: dimgray;
    cursor: pointer;
}
